{% extends 'layout.html' %}

{% block title %}VanLaningham.com | Add Review{% endblock %}

{% block body %}
<div class="container-fluid" id="add-review-container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col" id="form-column">
            {% if message %}
            <div class="alert alert-primary" role="alert">Successfully added article.</div>
            {% endif %}
            <a class="btn btn-link" href="{% url 'home' %}">Home</a> > <a class="btn btn-link" href="{% url 'addReview' %}">Add Review</a>
            <h3>Add Article</h3>
            <form method="post" enctype="multipart/form-data" class="form float-center">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}