{% extends 'layout.html' %}
{% block title %}VanLaningham.com | All Reviews{% endblock%}
{% block body %}
<div class="container-fluid main-container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col">
            {% if search %}
            <h4>Search Results</h4>
            {% else %}
            <h4>All Reviews</h4>
            {% endif %}
        </div>
        {% if search %}
        <div class="col text-right">
            <span class="pill container">
                "{{ search }}"
                <a href="{% url 'allReviews' %}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </a>
            </span>
        </div>
        {% endif %}
        <div class="col-md-2"></div>
    </div>

    <!-- SEARCH BAR -->
    <div class="row" id="search-row">
        <div class="col-md-2"></div>
        <div class="col">
            <form class="form form-inline" action="{% url 'allReviews' %}">
                <input name="search" type="text" class="form-control" aria-label="search" placeholder="Search for Author or Title" id="page-search-input">
                <button type="submit" class="form-control btn-primary" id="page-search-submit">Search</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- END SEARCH BAR -->
    <!-- Reviews listed below -->
    {% if reviews %}
    {% for review in reviews %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col">
            <div class="card list-card">
                <div class="card-body"><b>{{ review.bookTitle }}</b> by {{ review.bookAuthor }}</div>
                <a href="{% url 'home' %}reviews/{{ review.id }}" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col">
            <p>No reviews matching search "{{ search }}".</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% endif %}
</div>
{% endblock %}