
{% extends 'layout.html' %}

{% block title %}VanLaningham.com | Home{% endblock %}
{% block body %}
{% load static %}
<div class="container-fluid main-container">
    <div class="row justify-content-center">
        <div class="col-md-3 text-center" id="bio-column">
            <img src="{% static 'images/main-picture.png' %}" alt="Nathan VanLaningham" id="portrait-img">
            <p class="text-muted"><small>pictured: Nathan VanLaningham</small></p>
            <p><b><i>"Dressed for a pandemic."</i></b>
              </p>
        </div>
        <div class="col-md-9" id="reviews-column">
            <div class="row">
                <div class="col text-nowrap text-center">
                    <h4>Recent Book Reviews</h4>
                </div>

            </div>

                <div class="row no-gutters">
                {% for review in reviews %}
                    <div class="col-md-6 text-center review-column">
                        <div class="media position-relative">
                            <img src="https://vanlaninghamdotcom.s3.amazonaws.com/{{ review.thumbnail }}" alt="{{ review.bookTitle }}" class="book-thumbnail">
                            <div class="media-body">
                                <h5>{{ review.bookTitle }}</h5>
                                <p>by {{ review.bookAuthor }}</p>
                            </div>
                            <a href="{% url 'home' %}reviews/{{ review.id }}" class="stretched-link"></a>
                        </div>
                    </div>
                {% endfor %}
                </div>
        </div>
    </div>
</div>
{% endblock %}