{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <!-- MY JS -->
    {% block script %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">VanLaningham.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-links">
          <ul class="navbar-nav">
            <div class="nav-item">
              <a href="{% url 'allReviews' %}" class="nav-link">All Reviews</a>
            </div>
              {% if request.user.is_authenticated %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="adminDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="adminDropDown">
                  <a class="dropdown-item" href="{% url 'addReview' %}">+New Review</a>
                  <a class="dropdown-item" href="{% url 'editBio' %}">Edit Bio</a>
                </div>
                    </div>
              {% endif %}
          </ul>

          <div class="navbar-nav ml-auto">
              <form class="form-inline" action="{% url 'allReviews' %}">
                <input name="search" type="text" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="search">
                  <button type="submit" class="form-control btn btn-outline-secondary">Go</button>
              </form>
          </div>


        </div>
    </nav>
  {% block body %}{% endblock %}
    <footer>
        <div class="container-fluid full-width">
            <div class="row text-center">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"><p class="text-muted">Copyright 2020 Nathan VanLaningham</p></div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </footer>
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>